/*
 * Colors: https://coolors.co/437c90-255957-eeebd3-a98743-f7c548
 * #437c90
 * #255957
 * #eeebd3
 * #a98743
 * #f7c548  #e4aa1a
 *
 * #151515
 */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body {
  color: #151515;
  background: #437c90;
  background-image: url('images/bg-paper-blue.png');
}

div.container {
  -webkit-box-shadow: 0px 8px 15px -1px rgba(0,0,0,0.41);
  box-shadow: 0px 8px 15px -1px rgba(0,0,0,0.41);
}

div.row {
  padding: 10px;
}

div.row.row-header {
  /* background: #255957; */
  color: white;
  text-align: center;
  background: rgb(29,69,67);
  background: linear-gradient(90deg, rgba(29,69,67,1) 0%, rgba(37,89,87,1) 35%, rgba(76,159,156,1) 100%);
}

div.row.row-header h3 {
  margin-bottom: 0;
  display: inline;
  position: relative;
  top: 5px;
  font-size: 40px;
  font-family: 'Parisienne', cursive;
}

@media screen and (max-width: 400px) {
  div.row.row-header h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 330px) {
  div.row.row-header h3 {
    top: 2px;
    font-size: 18px;
  }
  div.row.row-header img {
    width: 30px !important;
    height: auto !important;
  }
}

@media screen and (max-width: 230px) {
  div.row.row-header img {
    display: none !important;
  }
}

div.row.row-header img.logo {
  width: 50px;
  height: auto;
  display: inline;
  margin-right: 10px;
}

div.row.row-user {
  /* background: #f7c548; */
  color: #151515;
  background: rgb(235,182,52);
  background: linear-gradient(90deg, rgba(235,182,52,1) 0%, rgba(247,197,72,1) 35%, rgba(231,208,152,1) 100%);
}

div.row.row-board {
  background: white;
}

div.row.row-footer {
  background: #a98743;
  color: white;
}

div.row.row-footer a {
  color: white;
}

div.row.row-footer p {
  margin-bottom: 0px;
}

.app-hidden {
  display: none;
}

.snappuzzle-wrap { position: relative; display: block; }
.snappuzzle-pile { position: relative; }
.snappuzzle-piece { cursor: move; }
.snappuzzle-slot { position: absolute; background: #fff; opacity: .8; }
.snappuzzle-slot-hover { background: #eee; }

img#source_image {
  width: 100%;
  height: auto;
}
